# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/
.nitro/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.parcel-cache/